body{
    background-color: azure;
}
.container{
    width:330px;
    height: 400px;
    background-color: rgb(49, 49, 48);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:100px;
}
.r-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
input[type="button"]{
    width: 70px;
    height: 40px;
    background-color: black;
}
input[type="text"]{
    width: 300px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.462);
}
*{
    font-size: 20px;
    color: white;
}
.opr{
    color:rgb(80, 154, 154)
}